// Fonts

/*@font-face {
    font-family: 'SFProRegular';
    font-style: normal;
    font-weight: 400;
    src: url('~assets/fonts/sf-pro/regulat.OTF')  format('truetype');
}

@font-face {
    font-family: 'SemiBold';
    font-style: normal;
    font-weight: 500;
    src: url('~assets/fonts/sf-pro/semibold.OTF')  format('truetype');
}
*/
// Colors

